{% extends 'core/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
	
	<div class="container">
		<section class="heading mt-2 mb-4">
			<h1>All Blog Posts</h1>
		</section>

		<a type="button" class="btn btn-secondary mb-4" href="{% url 'add-new-blog' %}">Add New Post</a>

	</div>

	<div class="container">
		<section class="content">
			{% for post in posts %}
				<div class="blog mt-4 mb-4">
					<h2 class="mb-0">
						<a href="{% url 'details' post.pk %}">
							{{ post.title }}
						</a>
					</h2>
					<div class="text-muted mb-3">
						{{ post.createdAt }}
					</div>
					<div class="thumbnail mb-2">
						<img src="{{ post.thumbnail.url }}">
					</div>
					<div class="description">
						<p>{{ post.description }}</p>
					</div>
					<div class="buttons">
						<a type="button" class='btn btn-primary' href="{% url 'details' post.pk %}">Read More</a>
						<a type='button' class="btn btn-info" href="{% url 'update' post.pk %}">Edit</a>
						<a type="button" class="btn btn-danger" href="{% url 'delete' post.pk %}">Delete</a>
					</div>
				</div>
			{% endfor %}
		</section>
	 
	    {% if is_paginated %}

	    <div class="pagination">
	      {% if page_obj.has_previous %}
	        <a class="btn btn-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">&larr; prev</a>
	      {% endif %}

	      {% for num in page_obj.paginator.page_range %}

	       <!--  {% if page_obj.number == num %}
	          <a class='btn btn-info mb-4' href="?page={{ num }}">{{ num }}</a>

	        {% endif %} -->

	      {% endfor %}

	      {% if page_obj.has_next %}
	        <a class="btn btn-secondary mb-4" href="?page={{ page_obj.next_page_number }}">next &rarr;</a>
	      {% endif %}

	    {% endif %}

		</div>
	</div>

{% endblock %}