@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
 	font-family: 'Montserrat', sans-serif;
 	margin: 0;
}

.top header a {
	font-weight: bold;
	font-size: 1.7rem;
	text-decoration: none;
}

.content {
	max-width: 80%;
}

.heading h1	{
	font-weight: normal;
	font-size: 4rem;
}

.blog h2 a {
	font-weight: bold;
	font-size: 3rem;
	color: #114d4d;
	text-decoration: none;
}

.blog h2 a:hover {
	color: #236b77;
}

.thumbnail img {
	height: 15em;
	width: 40em;
}

.buttons {
	padding: 0 0 1.5em;
}
.buttons a {
	padding-right: 1em;
}

.description p {
	font-size: 1.4rem;
}

.details {
	padding: 0 15% 0 15%;
}

.blogContent {
	margin-top: 2.5em;
	font-size: 1.4rem; 
}

.delete-confirm {
	margin-top: 15vh;
	text-align: center;
}

.deleteHead{
	font-weight: bold;
	color: red;
}

.form-section h2 {
	font-weight: bold;
	font-size: 3rem;
	color: #114d4d;
	text-decoration: none;
	margin-bottom: 2rem;
}

.form-method label {
	font-weight: normal;
	font-size: 1.3rem;
}

.form-method input {
	width: 29em;
	height: 2.7em;
}

.form-method textarea {
	width: 29em;
	height: 7em;
}

@media (max-width: 768px) {

	.content {
		max-width: 95%;
	}
	.thumbnail img {
		height: 15em;
		width: 100%;
	}

	.form-method input {
		width: 80%;
		height: 2.7em;
	}

	.form-method textarea {
		width: 80%;
		height: 7em;
	}
}

@media (max-width: 991px) {
	.details {
		padding: 2% 0 2%;
	}	
}

.pagination {
	justify-content: center;

}

.pagination a {
	margin-left: 1em;
}